.Fotografias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.Fotografias img {
    width: 150px;
    border-radius: 20px;
}
.poema li:first-child::first-letter {
    font-size:26px;
    font-style:italic;
    padding-right:4px;
}
